/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  padding: 0;
  margin: 0;

  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
  transform: scale 0.2
p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
}

h2 {
  font-family: 'Gelasio';
  font-style: normal;
  font-weight: 500;
  font-size: 43px;
}

h3 {
  font-family: 'Gelasio';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

h4 {
  font-family: 'Gelasio';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

input {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.header-wrapper {
  background: url('../images/header-background.png');
  background-size: cover;
}

.header-logo {
  font-family: 'Ribeye', cursive;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.header__top-container {
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-navigation ul li {
  margin: 0 30px;
  cursor: pointer;
}

.header-navigation ul {
  list-style: none;
  font-weight: 500;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 20px 0;
  font-size: 18px;
}

.carrot-button:hover {
  background-color: #ee5247;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.carrot-button {
  border-radius: 5px;
  border: 0;
  outline: none;
  cursor: pointer;
  padding: 15px 35px;
  background-color: #C9453B;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: white;
}

.header__main-content h1 {
  font-size: 65px;
  font-family: 'Gelasio', serif;
  color: white;
}

.header__main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 237.5px 0;
}

.header__main-content p {
  width: 450px;
  color: white;
  line-height: 160%;
  font-size: 18px;
  font-weight: 300;
  opacity: 0.6;
  margin: 25px 0;
}

.header__main-content .carrot-button {
  width: 175px;
  margin-top: 20px;
  padding: 20px 6px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.popular-location-wrapper {
  padding: 140px 0;
}

.popular-location__header,
.special-offers__header,
.blog__header {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 50px;
}

.popular-location__header h2,
.special-offers__header h2,
.blog__header h2 {
  margin-bottom: 20px;
}

.popular-location__header p,
.special-offers__header p,
.blog__header p {
  opacity: 0.6;
}

.popular-location__card {
  height: 500px;
  width: 360px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.popular-location__card h3 {
  margin-top: 35px;
}

.popular-location__card p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  padding: 10px 33px;
  opacity: 0.6;
}

.popular-location__card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.popular-location__card--selected {
  -webkit-box-shadow: 0 6px 35px rgba(0, 0, 0, 0.08);
  box-shadow: 0 6px 35px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.card__country-name img {
  margin-right: 10px;
}

.card__country-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 50px;
}

.card__country-name span {
  font-size: 20px;
  opacity: 0.6;

}

.special-offers-wrapper {
  padding-bottom: 140px;
}

.special-offers__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 262px;
}

.special-offers__card h3 {
  margin-top: 20px;
  margin-bottom: 8px;
}

.card__country-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.card__rate img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.card__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
}

.card__days-info {
  font-size: 16px;
  opacity: 0.6;
  margin: 8px 0;
}

.special-offers__horizontal-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.special-offers__horizontal-list .special-offers__card:first-child {
  opacity: 0.6;
}

.slider-scroll .scroll-left img,
.slider-scroll .scroll-right img {
  margin-right: -5px;
}

.slider-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.slider__button {
  width: 75px;
  height: 5px;
  background: rgba(201, 69, 59, 0.1);
  border-radius: 10px;
  margin: 0 1.5px;
}

.slider__button--active {
  background: #C9453B;
  border-radius: 10px;
}

.slider__buttons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.slider-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 345px;
  margin: 0 auto;
  margin-top: 50px;
}

.blog__main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.blog__right-block {
  width: 50%;
}

.blog__left-block {
  width: 50%;
}

.left-block__description h4 {
  margin-top: 35px;
}

.left-block__description span {
  font-weight: 500;
  font-size: 20px;
}

.left-block__description p {
  padding: 10px 133px 10px 0;
  opacity: 0.6;
}

.right-block-card-list__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 30px;
}

.card-list__card-description p {
  opacity: 0.6;
  font-size: 18px;
  padding: 20px 0;
}

.card-list__card-description span {
  font-size: 20px;
}

.card-list__card-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 25px;
}

.blog-wrapper {
  padding-bottom: 140px;
}

footer {
  height: 210px;
  padding: 70px;
  background-color: #2694990A;
}

.footer-menu__subscribe-form form label {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
}

.subscribe-form__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 44px;
  margin-top: 42px;
}

.footer-menu__subscribe-form form input[type='submit'] {
  height: 100%;
  margin-left: 35px;
}

.footer-menu__subscribe-form form input[type='email']::-webkit-input-placeholder {
  color: black;
  opacity: 1;
}

.footer-menu__subscribe-form form input[type='email']::-moz-placeholder {
  color: black;
  opacity: 1;
}

.footer-menu__subscribe-form form input[type='email']:-ms-input-placeholder {
  color: black;
  opacity: 1;
}

.footer-menu__subscribe-form form input[type='email']::-ms-input-placeholder {
  color: black;
  opacity: 1;
}

.footer-menu__subscribe-form form input[type='email']::placeholder {
  color: black;
  opacity: 1;
}

.footer-menu__subscribe-form form input[type='email'] {
  height: 100%;
  width: 171px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #0000001f;
  -webkit-box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.01);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.01);
  border-radius: 5px;
  outline: none;
}

.footer-menu__subscribe-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer ul li {
  margin: 20px 0;
  font-weight: 500;
  font-size: 16px;
}

footer ul {
  list-style-type: none;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contact-info .logo {
  font-family: 'Ribeye';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}

.contact-links {
  margin-top: 40px;
  font-size: 16px;
}

.contact-logotypes img {
  margin-right: 27px;
}

.contact-logotypes {
  margin-top: 20px;
}

@media (max-width: 1350px) {
  .special-offers__horizontal-list .special-offers__card:first-child {
    opacity: 1;
  }

  .container {
    width: 900px;
  }

  .special-offers__horizontal-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .special-offers__card {
    margin-bottom: 30px;
  }

  .slider-scroll {
    display: none;
  }

  .popular-location__card {
    height: 450px;
    width: 275px;
  }

  .popular-location__card img {
    width: 100%;
  }

  .blog__main-content img {
    width: 95%;
  }
}

@media (max-width: 980px) {
  .container {
    width: 735px;
  }

  .header__top-container {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .popular-location__card-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .popular-location__card {
    width: 95%;
    margin: 20px 0;
  }

  .header-logo {
    font-size: 60px;
  }

  .header-navigation ul {
    font-size: 24px;
  }

  .popular-location__card {
    width: 200px;
    height: auto;
  }

  .left-block__description p {
    padding: 10px 20px 10px 0;
  }
}

@media (max-width: 820px) {
  .container {
    width: 100%;
  }

  .blog__main-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }

  .popular-location__card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .popular-location__card {
    width: 90%;
    height: auto;
    margin: 20px 0;
    border-radius: 20px;
  }

  .blog__left-block {
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
  }

  .blog__right-block {
    width: 100%;
  }

  .right-block__card-list img {
    width: 50%;
  }

  .card-list__card-description {
    width: 50%;
  }

  .right-block-card-list__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .header__main-content {
    text-align: center;
  }

  .header__main-content p {
    width: 100%;
  }

  .header__main-content button {
    margin: 0 auto;
  }

  footer {
    height: auto;
  }

  .contact-logotypes img {
    margin: 0;
  }

  .contact-logotypes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .footer-menu__navigation {
    text-align: center;
  }

  .footer-menu__documents {
    text-align: center;
  }

  .footer-menu__subscribe-form {
    margin-top: 20px;
    text-align: center;
  }

  .contact-info {
    text-align: center;
  }

  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}


@media (max-width: 630px) {
  .header-navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .header__main-content h1 {
    font-size: 48px;
  }

  .blog-wrapper {
    padding-bottom: 70px;
  }

  .card__days-info {
    text-align: center;
  }

  .special-offers__card h3 {
    text-align: center;
  }

  .card__price {
    text-align: center;
  }

  .speical-offers__card-header {
    margin: 0 auto;
  }

  .special-offers-wrapper {
    padding-bottom: 70px;
  }

  .right-block-card-list__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }

  .right-block-card-list__card img {
    width: 95%;
    text-align: center;
  }

  .card-list__card-description h4 {
    margin-top: 20px;
  }

  .card-list__card-description {
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }
}
